@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

body {
	font-family: 'Manrope', sans-serif;
}
.head-title {
	font-family: 'Berkshire Swash';
	padding-top: 120px;
	font-size: 45px;
	color: #ff5e19;
}

.header-section,
.footer-sec {
	background-color: #000000;
}

/******************
  Body section 
****************** */
.main-body {
	background-color: #151515;
}

/* responsive section start  */
/* Phone mode  */
@media only screen and (max-width: 688px) {
	.head-title {
		padding-top: 10px;
		font-size: 30px;
	}
	.header-image {
		text-align: center;
	}
	.football {
		padding-right: 30%;
	}
}
/* tab mode  */
@media only screen and (min-width: 689px) and (max-width: 992px) {
	.head-title {
		padding-top: 10px;
		font-size: 35px;
	}
}

/* responsive section end  */
